
 <app-heder></app-heder>
 <button type="button" class="btn btn-primary">Primary</button>


<div>
  <ul>
    <li>
      <a routerLink="homee" routerLinkActive="active">home page</a>
    </li>
    <li>
      <a routerLink="aboutas" routerLinkActive="active">about-us page</a>
    </li>
    <li>
      <a routerLink="content" routerLinkActive="active">content-us page</a>
    </li>
    
  </ul>
</div>

<router-outlet>


</router-outlet>
<app-foter></app-foter> 




<!-- <app-heder></app-heder>
<h1> welcome componenet 1</h1>
{{title}}
<h1>welcome componenet 2 </h1>
<app-tow [username]="userdata"> </app-tow>


<button (click)="onalret()"> Hi aleret</button>

<div [ngClass]="'back view'"> ng-class,ng-styel</div>


<form>
<input type="text" name="name">
<br>
<input type="text" name="Email">
<br>
<input type="text" name="password">
<br>
<button [disabled]="isdasebeld"> cereat</button>
<img src="" [title]="">

</form>


  <input type="text" name="name">
  <br>
  <input type="text" name="Email">
  <br>
  <input type="text" name="password">
  <br>
  <button (click)="newclick()"> cereat</button>
  
  
  
<div [innerHtml]="htmldata"></div>
<div [className]="'red'"> class namee csss</div>
<div [style.color]="'green'">abd</div>

<div *ngIf="isloding">
<strong> name<span>:</span></strong>{{user?.name}}
<br>
<strong> age<span>:</span></strong>{{user?.age}}
<div *ngFor="let item of names">

  <div>{{item}}</div>
</div>
</div>
<app-foter></app-foter>



 -->
